root {
    background: #f6f6f7;
}

label {
    color: #2f2f34;
}

button {
    border-color: #e6e6e7;
    border-width: 0px;
    border-radius: 10px;
    background: #e6e6e7;
}

button:hover {
    border-color: #dcdcdd;
    background: #dcdcdd;
}

button:active {
    border-color: #bebec0;
    background: #bebec0;
}

icon {
    color: #2f2f34;
}

image {
    border-radius: 6px;
}

separator {
    background: #dadadc;
    border-width: 0px;
}

separator.horizontal {
    height: 1px;
    width: 100%;
}

separator.vertical {
    width: 1px;
    height: 100%;
}

progressbar {
    border-color: #eeeeef;
    background: #eeeeef;
    border-radius: 6px;
}

progressfill {
    border-color: #3584e4;
    background: #3584e4;
    border-radius: 6px;
}